body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  height: 1000px;
  width: 1300px;
  margin-left: 47px;
}
.navigation-container {
  grid-template-columns: 1fr;
  grid-row-end: 1;
  grid-column-start: 1;
  display: flex;
  word-spacing: 40px;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 95px;
  color: #557bc0;
  font-weight: 400;
  line-height: 24px;
  height: 50%;
  width: 120%;
}

.logo-container {
  flex-direction: column-reverse;
  justify-content: center;
  display: grid;
  grid-row-end: 1;
  grid-column-start: 1;
  margin-left: 605px;
}
img {
  width: 80%;
  margin: 15px 20px;
  padding: 10px 50px 40px 0px;
  color: #f3f5ff;
}

.buy-now-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-end: 1;
  grid-column-start: 3;
  margin: 30px 550px;
}

.buy-now {
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  color: white;
  background: #111b47;
  border-radius: 2px;
  width: 350%;
  height: 2%;
}

.container div {
  background-size: 100%;
  background-repeat: no-repeat;
}

.background-mask {
  background-image: url("Mask.jpg");
  width: 100%;
}

.background-image {
  background-image: url("designer_1.jpg");
  width: 370%;
  height: 75%;
  display: grid;
  grid-column-start: 2;
  grid-row-end: 1;
  margin-left: 80px;
}

.title-introduce {
  display: grid;
  grid-row-end: 1;
  grid-column-start: 1;
  color: #091133;
  margin: 320px 95px;
  width: 190%;
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
}

.body-paragraph-1 {
  display: grid;
  grid-row-end: 1;
  grid-column-start: 1;
  color: #505f98;
  width: 190%;
  margin: 455px 95px;
  font-size: 18px;
  line-height: 30px;
}

.purchase-container {
  display: grid;
  grid-row-end: 1;
  grid-column-start: 1;
  height: 10%;
}

.purchase-UI-kit {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  color: white;
  background: #111b47;
  border-radius: 2px;
  padding: 0px 5px;
  margin: 690px 95px;
  width: 67%;
  height: 2.5%;
}

.learn-more-container {
  display: grid;
  grid-row-end: 1;
  grid-column-start: 2;
  height: 10%;
}

.learn-more {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  background: linear-gradient(265deg, #f3f5ff 82%, #ffffff 18%);
  color: #091133;
  border-radius: 2px;
  padding: 0px 5px;
  margin: 690px 51px;
  width: 67%;
  height: 2.5%;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  margin-left: 50px;
}

.title-light-fast-powerful-1 {
  font-weight: 500;
  font-style: normal;
  size: 36px;
  line-height: 48px;
  width: 160%;
  margin-left: 95px;
  margin-top: 195px;
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.body-paragraph-2 {
  font-weight: 400;
  font-style: normal;
  size: 16px;
  line-height: 26px;
  color: rgba(111, 124, 178, 1);
  margin-left: 95px;
  margin-top: 245px;
  width: 187%;
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.undraw-mobile-container {
  display: grid;
  grid-column-start: 3;
  grid-row-end: 1;
}

.undraw-mobile {
  width: 650px;
  height: 660px;
  margin-left: 70px;
  margin-top: 50px;
}

.icon-1 {
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
  width: 36px;
  margin-left: 95px;
  margin-top: 470px;
  padding: 0px;
}

.icon-2 {
  display: grid;
  grid-column-start: 2;
  grid-row-end: 1;
  width: 36px;
  margin-left: 95px;
  margin-top: 470px;
  padding: 0px;
}

.title-goes-here-1 {
  color: rgba(9, 17, 51, 1);
  width: 255px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  display: grid;
  grid-column: 1;
  grid-row-end: 1;
  margin-left: 95px;
  margin-top: 510px;
}

.title-goes-here-paragraph-1 {
  width: 225px;
  height: 54px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(93, 105, 112, 1);
  margin-left: 95px;
  margin-top: 540px;
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.title-goes-here-2 {
  color: rgba(9, 17, 51, 1);
  width: 255px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  display: grid;
  grid-column: 2;
  grid-row-end: 1;
  margin-left: 95px;
  margin-top: 510px;
}

.title-goes-here-paragraph-2 {
  width: 225px;
  height: 54px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(93, 105, 112, 1);
  margin-left: 95px;
  margin-top: 540px;
  display: grid;
  grid-column-start: 2;
  grid-row-end: 1;
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  margin-left: 50px;
}

.undraw-happy-news-container {
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.undraw-happy-news {
  width: 480px;
  height: 315, 85px;
  margin-left: 95px;
}

.title-light-fast-powerful-2 {
  color: rgba(9, 17, 51, 1);
  width: 445px;
  height: 48px;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  line-height: 48px;
  display: grid;
  grid-column-start: 3;
  grid-row-end: 1;
  margin-top: 90px;
  margin-left: 170px;
}

.body-paragraph-3 {
  color: rgba(111, 124, 178, 1);
  display: grid;
  grid-column-start: 3;
  grid-row-end: 1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 150px;
  margin-left: 170px;
  width: 400px;
}

.container-4 {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  margin-left: 50px;
}

.undraw-social-influencer-container {
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.undraw-social-influencer {
  width: 540px;
  height: 524, 31px;
  margin-left: 95px;
  margin-top: 90px;
}

.title-light-fast-powerful-3 {
  display: grid;
  grid-column-start: 3;
  grid-row-end: 1;
  margin-top: 190px;
  margin-left: 180px;
  width: 445px;
  height: 48px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: rgba(9, 17, 51, 1);
}

.body-paragraph-4 {
  display: grid;
  grid-column-start: 3;
  grid-row-end: 1;
  height: 166px;
  width: 400px;
  color: rgba(111, 124, 178, 1);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 250px;
  margin-left: 180px;
}
