body {
  font-family: Roboto;
  font-style: normal;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-image: url("designer_1.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 65% 100%;
}

.navigation-logo-buy-container {
  display: grid;
  grid-template-columns: repeat(3, 50%);
}

.navigation-container {
  grid-template-columns: 1fr;
  grid-row-end: 1;
  grid-column-start: 1;
  word-spacing: 40px;
  font-size: 14px;
  position: relative;
  left: 145px;
  top: 3px;
  color: #557bc0;
  font-weight: 400;
  line-height: 24px;
}

img {
  position: relative;
  top: -4px;
  left: 448px;
}

.buy-now {
  font-size: 12px;
  color: white;
  background: #111b47;
  border-radius: 2px;
  padding: 3px 45px;
  position: relative;
  left: 610px;
  top: 3px;
}

.title-parahraph-button-container-1 {
  display: grid;
  grid-template-columns: repeat(2, 115%);
  position: relative;
  top: 145px;
  left: 100px;
}

.title-introduce {
  color: #091133;
  font-weight: 500;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 1px;
  position: relative;
  right: 330px;
}

.body-paragraph-1 {
  color: #505f98;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  position: relative;
  right: 970px;
  top: 140px;
}

.purchase-UI-kit {
  font-size: 16px;
  color: white;
  background: #111b47;
  border-radius: 2px;
  padding: 4px 25px;
  position: relative;
  right: 427px;
  top: 155px;
}

.learn-more {
  font-size: 16px;
  color: #091133;
  border-radius: 2px;
  position: relative;
  right: 500px;
  top: 200px;
  padding: 4px 15px;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(2, 36%);
}

.title-light-fast-powerful-1 {
  size: 36px;
  line-height: 48px;
  position: relative;
  bottom: 1200px;
  left: 90px;
}

.body-paragraph-2 {
  font-weight: 400;
  font-style: normal;
  size: 16px;
  line-height: 22px;
  color: rgba(111, 124, 178, 1);
  position: relative;
  bottom: 1120px;
  right: 400px;
}

.undraw-mobile-container {
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.undraw-mobile {
  position: relative;
  left: 630px;
  top: -50px;
  margin-bottom: 590px;
}

.icon-1 {
  position: absolute;
  top: 1180px;
  left: 77px;
}

.icon-2 {
  position: absolute;
  left: 320px;
  top: 1185px;
}

.title-goes-here-1 {
  color: rgba(9, 17, 51, 1);
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  left: 83px;
  bottom: 1110px;
}

.title-goes-here-paragraph-1 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(93, 105, 112, 1);
  position: relative;
  right: 405px;
  bottom: 1020px;
  margin-right: 250px;
}

.title-goes-here-2 {
  color: rgba(9, 17, 51, 1);
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  grid-row-end: 1;
  position: relative;
  top: 395px;
  right: 165px;
  height: 10%;
}

.title-goes-here-paragraph-2 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(93, 105, 112, 1);
  position: relative;
  bottom: 1097px;
  left: 320px;
  margin-right: 250px;
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(2, 29.7%);
}

.undraw-happy-news {
  position: absolute;
  left: 70px;
  top: 1550px;
}

.title-light-fast-powerful-2 {
  color: rgba(9, 17, 51, 1);
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  position: relative;
  left: 230px;
  bottom: 850px;
}

.body-paragraph-3 {
  color: rgba(111, 124, 178, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  left: 630px;
  bottom: 880px;
}

.container-4 {
  display: grid;
  grid-template-columns: repeat(2, 29.7%);
}

.undraw-social-influencer-container {
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.undraw-social-influencer {
  position: absolute;
  left: 70px;
  top: 2050px;
}

.title-light-fast-powerful-3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: rgba(9, 17, 51, 1);
  position: relative;
  left: 230px;
  bottom: 630px;
}

.body-paragraph-4 {
  color: rgba(111, 124, 178, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  left: 630px;
  bottom: 660px;
}

.container-5 {
  display: grid;
  grid-template-columns: repeat(2, 35.1%);
  margin-bottom: 0px;
}

.undraw-mention-container {
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.undraw-mention {
  position: absolute;
  left: 70px;
  top: 2620px;
}

.title-light-fast-powerful-4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: rgba(9, 17, 51, 1);
  position: relative;
  left: 230px;
  bottom: 400px;
}

.body-paragraph-5 {
  color: rgba(111, 124, 178, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  left: 705px;
  bottom: 420px;
}

.purchase-now {
  background: rgba(17, 27, 71, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  position: absolute;
  top: 2880px;
  left: 703px;
  padding: 5px 20px;
}

.container-6 {
  background-image: url("Rectangle.jpg");
  background-repeat: no-repeat;
  margin-top: -210px;
  margin-bottom: 0px;
}

.a-price-to-suit-everyone {
  color: rgba(9, 17, 51, 1);
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 160px;
}

.body-paragraph-6 {
  color: rgba(111, 124, 178, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 170px 410px;
  text-align: center;
}

.price {
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  color: rgba(34, 47, 101, 1);
  position: relative;
  bottom: 140px;
}

.UI-design-kit {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(55, 68, 126, 1);
  position: relative;
  bottom: 180px;
}

.see-one-price-simple {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgba(93, 105, 112, 1);
  position: relative;
  bottom: 150px;
}

.purchase-now-2 {
  background: rgba(17, 27, 71, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  position: relative;
  bottom: 160px;
  left: 595px;
  padding: 2px 30px;
}

.rectangle1 {
  position: absolute;
  top: 3700px;
  left: 0px;
}

.©2020-Yourcompany {
  position: relative;
  bottom: -50px;
  right: 493px;
  text-align: center;
  color: rgba(147, 158, 164, 1);
  font-weight: 500;
}

.landie1 {
  position: relative;
  left: 630px;
  color: rgba(255, 255, 255, 1);
  background: rgba(17, 27, 71, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
}

.purchase-now-3 {
  position: relative;
  bottom: 50px;
  left: 1120px;
  background: rgba(17, 27, 71, 1);
  color: rgba(255, 255, 255, 1);
  padding: 3px 10px;
}

.horizontal-line {
  position: relative;
  left: 10px;
}

.navigation-container1 {
  position: relative;
  bottom: 5px;
  right: 430px;
  color: rgba(146, 158, 204, 1);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  word-spacing: 70px;
}

.icons-container {
  display: flex;
  justify-content: right;
  position: relative;
  right: 450px;
  bottom: 45px;
}

.facebook {
  left: 245px;
}

.instagram1 {
  left: 265px;
}

.twitter {
  left: 285px;
}

.youtube {
  left: 305px;
}

.instagram {
  left: 330px;
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 50%);
    grid-template-rows: repeat(3, 50%);
  }
  .navigation-logo-buy-container {
    display: grid;
    grid-template-columns: repeat(3, 90%);
    position: relative;
    right: 50px;
  }
}
