body {
  font-family: Roboto;
  font-style: normal;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-image: url("designer_1.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 66% 100%;
}

.navigation-logo-buy-container {
  display: grid;
  grid-template-columns: repeat(3, 50%);
}

.navigation-container {
  grid-template-columns: 1fr;
  grid-row-end: 1;
  grid-column-start: 1;
  word-spacing: 40px;
  font-size: 14px;
  position: relative;
  left: 223px;
  top: 3px;
  color: #557bc0;
  font-weight: 400;
  line-height: 24px;
}

img {
  position: relative;
  top: -2px;
  left: 450px;
}

.buy-now {
  font-size: 12px;
  color: white;
  background: #111b47;
  border-radius: 2px;
  padding: 3px 45px;
  position: relative;
  left: 610px;
  top: 8px;
}

.title-parahraph-button-container {
  display: grid;
  grid-template-columns: repeat(2, 115%);
  position: relative;
  top: 145px;
  left: 110px;
}

.title-introduce {
  color: #091133;
  font-weight: 500;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 1px;
  position: relative;
  right: 330px;
}

.body-paragraph-1 {
  color: #505f98;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  right: 850px;
  top: 140px;
}

.purchase-UI-kit {
  font-size: 16px;
  color: white;
  background: #111b47;
  border-radius: 2px;
  padding: 7px 35px;
  position: relative;
  right: 337px;
  top: 127px;
}

.learn-more {
  position: relative;
  left: -325px;
  top: 140px;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(2, 36%);
}

.title-light-fast-powerful-1 {
  size: 36px;
  line-height: 48px;
  position: relative;
  bottom: 1200px;
  left: 200px;
}

.body-paragraph-2 {
  font-weight: 400;
  font-style: normal;
  size: 16px;
  line-height: 22px;
  color: rgba(111, 124, 178, 1);
  position: relative;
  bottom: 1120px;
  right: 290px;
}

.undraw-mobile-container {
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.undraw-mobile {
  position: relative;
  left: 640px;
  top: -50px;
  margin-bottom: 590px;
}

.icon-1 {
  position: absolute;
  top: 1140px;
  left: 187px;
}

.icon-2 {
  position: absolute;
  left: 450px;
  top: 1140px;
}

.title-goes-here-1 {
  color: rgba(9, 17, 51, 1);
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  bottom: 1040px;
  left: 187px;
}

.title-goes-here-paragraph-1 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(93, 105, 112, 1);
  position: relative;
  right: 295px;
  bottom: 1005px;
  margin-right: 250px;
}

.title-goes-here-2 {
  color: rgba(9, 17, 51, 1);
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  grid-row-end: 1;
  position: relative;
  top: 465px;
  right: 40px;
}
.title-goes-here-paragraph-2 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(93, 105, 112, 1);
  position: relative;
  bottom: 1085px;
  left: 440px;
  margin-right: 250px;
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(2, 29.7%);
}

.undraw-happy-news {
  position: absolute;
  left: 190px;
  top: 1500px;
}

.title-light-fast-powerful-2 {
  color: rgba(9, 17, 51, 1);
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  position: relative;
  left: 380px;
  bottom: 860px;
}

.body-paragraph-3 {
  color: rgba(111, 124, 178, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  left: 780px;
  bottom: 890px;
}

.container-4 {
  display: grid;
  grid-template-columns: repeat(2, 29.7%);
}

.undraw-social-influencer-container {
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.undraw-social-influencer {
  position: absolute;
  left: 170px;
  top: 2010px;
}

.title-light-fast-powerful-3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: rgba(9, 17, 51, 1);
  position: relative;
  left: 380px;
  bottom: 580px;
}

.body-paragraph-4 {
  color: rgba(111, 124, 178, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  left: 780px;
  bottom: 610px;
}

.container-5 {
  display: grid;
  grid-template-columns: repeat(2, 29.7%);
  margin-bottom: 0px;
}

.undraw-mention-container {
  display: grid;
  grid-column-start: 1;
  grid-row-end: 1;
}

.undraw-mention {
  position: absolute;
  left: 170px;
  top: 2620px;
}

.title-light-fast-powerful-4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: rgba(9, 17, 51, 1);
  position: relative;
  left: 390px;
  bottom: 380px;
}

.body-paragraph-5 {
  color: rgba(111, 124, 178, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  left: 790px;
  bottom: 410px;
}

.purchase-now {
  background: rgba(17, 27, 71, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  position: absolute;
  top: 2890px;
  left: 790px;
  padding: 5px 20px;
}

.container-6 {
  background-image: url("Rectangle.jpg");
  background-repeat: no-repeat;
  margin-top: -210px;
  margin-bottom: 0px;
}

.a-price-to-suit-everyone {
  color: rgba(9, 17, 51, 1);
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 180px;
}

.body-paragraph-6 {
  color: rgba(111, 124, 178, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 190px 410px;
  text-align: center;
}

.price {
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  color: rgba(34, 47, 101, 1);
  position: relative;
  bottom: 120px;
}

.UI-design-kit {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(55, 68, 126, 1);
  position: relative;
  bottom: 160px;
}

.see-one-price-simple {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgba(93, 105, 112, 1);
  position: relative;
  bottom: 130px;
}

.purchase-now-2 {
  background: rgba(17, 27, 71, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  position: relative;
  bottom: 140px;
  left: 595px;
  padding: 2px 30px;
}

.rectangle1 {
  position: absolute;
  top: 3790px;
  left: 0px;
}

.©2020-Yourcompany {
  position: relative;
  bottom: -110px;
  right: 493px;
  text-align: center;
  color: rgba(147, 158, 164, 1);
  font-weight: 500;
}

.landie1 {
  position: relative;
  left: 630px;
  top: 65px;
}

.purchase-now-3 {
  position: relative;
  bottom: -20px;
  left: 1120px;
  background: rgba(17, 27, 71, 1);
  color: rgba(255, 255, 255, 1);
  padding: 3px 10px;
}

.horizontal-line {
  position: relative;
  left: 5px;
  top: 60px;
}

.navigation-container1 {
  position: relative;
  bottom: -55px;
  right: 430px;
  color: rgba(146, 158, 204, 1);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  word-spacing: 70px;
}

.icons-container {
  display: flex;
  justify-content: right;
  position: relative;
  right: 450px;
  bottom: -25px;
}

.facebook {
  left: 228px;
}

.instagram1 {
  left: 248px;
}

.twitter {
  left: 270px;
}

.youtube {
  left: 298px;
}

.instagram {
  left: 325px;
}

@media screen and (max-width: 600px) {
  body {
    font-family: Roboto;
    font-style: normal;
    margin: 0px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-image: url("designer_1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 76% 100%;
  }
  .navigation-logo-buy-container {
    display: grid;
    grid-template-columns: repeat(1, 50%);
  }

  .navigation-container {
    grid-template-columns: 1fr;
    grid-row-end: 1;
    grid-column-start: 1;
    word-spacing: 20px;
    font-size: 8px;

    color: #557bc0;
    font-weight: 400;
    line-height: 24px;
  }

  .logo-container {
    height: 290px;
  }

  img {
    width: 30%;
  }

  .buy-now {
    font-size: 8px;
    color: white;
    background: #111b47;
    border-radius: 2px;
    padding: 3px 25px;
  }
  .title-parahraph-button-container {
    display: grid;
    grid-template-columns: repeat(2, 115%);
  }

  .title-introduce {
    color: #091133;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  .body-paragraph-1 {
    color: #505f98;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;

    width: 80%;
  }

  .purchase-UI-kit {
    font-size: 16px;
    color: white;
    background: #111b47;
    border-radius: 2px;
    padding: 7px 35px;
  }

  .learn-more {
    position: center;
  }
  .container-2 {
    display: grid;
    grid-template-columns: repeat(2, 36%);
  }

  .title-light-fast-powerful-1 {
    font-size: 20px;
    line-height: 48px;
  }

  .body-paragraph-2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: rgba(111, 124, 178, 1);

    width: 142%;
  }

  .undraw-mobile-container {
    display: grid;
    grid-column-start: 1;
    grid-row-end: 1;
  }

  .undraw-mobile {
    width: 100%;
  }

  .icon-1 {
    width: 5%;
  }

  .icon-2 {
    width: 5%;
  }

  .title-goes-here-1 {
    color: rgba(9, 17, 51, 1);
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
  }

  .title-goes-here-paragraph-1 {
    font-size: 7px;
    line-height: 8px;
    color: rgba(93, 105, 112, 1);

    width: 60%;
  }

  .title-goes-here-2 {
    color: rgba(9, 17, 51, 1);
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    grid-row-end: 1;
  }
  .title-goes-here-paragraph-2 {
    font-size: 7px;
    line-height: 8px;
    color: rgba(93, 105, 112, 1);

    width: 60%;
  }
}
